#body-inner {
  font-size: 1.4em;
}

#body-inner ol li li {
  list-style-type: lower-alpha;
}

#body-inner ol li {
  padding-bottom: 30px;
}

ol.todo {
  /*list-style-type:none;*/
}

ol.todo input[type="checkbox"] {
  margin-right: 15px;
  margin-left: 15px;
  width: 25px;
  height: 25px;
}

ol.todo label {
  font-weight: inherit;
}

kbd {
  margin: 0px 0.1em;
  padding: 0.1em 0.6em;
  border-radius: 3px;
  border: 1px solid rgb(204, 204, 204);
  /*color: rgb(51, 51, 51);*/
  color: firebrick;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  background-color: rgb(250, 250, 250);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}

.preview {
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.reset * {
  all: revert;
  /* all: initial; */
}

.expand-label {
  color: blue;
}